/*
    전체
*/
body {
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background: #f5f6f8;
}

main {
    padding: 80px 0; /* 위아래 여백 */
    margin: auto;
    display: flex;
    flex-direction: column;
}

/*
    상단
*/
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);

    height: 40px;
}

.top-bar a {
    font-weight: bold;
    font-size: 14px;
    color: #5c3b00;
    text-decoration: none;
    opacity: 0.8;
}

.top-bar a:hover {
    opacity: 1;
}

.top-bar a:nth-child(1) {
    justify-self: start;
}

.top-bar a:nth-child(2) {
    justify-self: center;
}

.top-bar a:nth-child(3) {
    justify-self: end;
}
