/* 메인 레이아웃 */
.container {
    max-width: 520px;
    margin: 40px auto;
    padding: 32px 24px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.intro .sub {
    margin-top: 3px;
    color: #666;
    font-size: 14px;
}

/* 상단 설명 */
.intro h1 {
    font-size: 30px;
    margin-bottom: 16px;
    font-weight: 700;
}

.intro p {
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
}

.sub {
    margin-top: 10px;
    color: #666;
    font-size: 14px;
}
.small{
    font-size: 11px;
}
.intro h2 {
    font-size: 22px;
    margin-bottom: 12px;
}

/* 다운로드 버튼 */
.download {
    margin: 40px 0 0 0;
    text-align: center;

    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: nowrap; /* 줄바꿈 방지 */
}

.btn-download {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 14px 28px;

    background: linear-gradient(135deg, #4a6cf7, #6f86ff);
    color: #fff;

    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

    border-radius: 12px;

    box-shadow: 0 6px 15px rgba(74, 108, 247, 0.3);

    transition: transform 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease;
    white-space: nowrap;
}

/* 마우스 올렸을 때 */
.btn-download:hover {
    transform: translateY(-2px);

    box-shadow: 0 10px 25px rgba(74, 108, 247, 0.45);

    background: linear-gradient(135deg, #5b7cff, #7c92ff);
}

/* 클릭할 때 */
.btn-download:active {
    transform: translateY(0);

    box-shadow: 0 4px 10px rgba(74, 108, 247, 0.3);
}

.btn-download:hover {
    opacity: 0.9;
}

/* 설치 방법 */
.install h2 {
    font-size: 22px;
    margin-bottom: 50px;
}

.install h3 {
    margin-top: 50px;
    font-size: 18px;
}

.install ol {
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
    padding-left: 20px;
}

.install li {
    font-size: 18px;
    margin-bottom: 25px;
}

.install img {
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: block;
    height: auto;
    object-fit: cover;
}

/* 가로선 */
.hr {
    width: 100%;      /* 길이 */
    height: 2px;      /* 두께 */
    background: #ccc; /* 색 */
    margin: 20px 0 20px 0;
}