/* 후원 안내 영역 */
.support {
    max-width: 720px;
    margin: 60px auto;
    padding: 32px 28px;

    background: #fafafa;
    border-radius: 12px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

/* 제목 */
.support h2 {
    margin-bottom: 24px;

    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;

    color: #222;
}

/* 기본 문단 */
.support p {
    margin-bottom: 16px;

    font-size: 1rem;
    line-height: 1.7;
    color: #444;
}

/* 마지막 감사 문구 */
.support .thanks {
    margin-top: 28px;

    font-size: 1.05rem;
    font-weight: 500;
    text-align: center;

    color: #222;
}

.donate-wrap {
    display: flex;
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
    gap: 12px;
}
.donate-wrap button {
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-size: 12px;
    width: 40%;
}

.donate-wrap button:hover {
    background: #f5f5f5;
}

.donate-wrap .naver {
    background: #03c75a;
    color: #fff;
    border-color: #03c75a;
    font-size: 12px;
    width: 40%;
}

.donate-wrap .naver:hover {
    background: #02b351;
}

#toast {
    z-index: 9999;

    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    padding: 10px 16px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    border-radius: 20px;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, transform .3s;
}

#toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}